@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Playfair+Display:ital,wght@1,700&family=Lora:ital,wght@1,700&family=Cormorant:ital,wght@1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter;
  @apply font-montserrat;
  @apply font-outfit;
  @apply font-poppins;
  /* @apply font-playfair; */
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-poppins font-bold;
}

.logo {
  @apply font-poppins font-extrabold;
} */
