@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-inter;
  @apply font-montserrat;
  @apply font-outfit;
  @apply font-poppins;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-poppins font-bold;
}

.logo {
  @apply font-poppins font-extrabold;
} */
